<template>
  <folder-bookmark status="empty" :bookmark="bookmark" />
</template>

<script>
import FolderBookmark from "./FolderBookmark";

export default {
  name: "EmptyFolderBookmark",
  components: {
    FolderBookmark
  },
  props: {
    bookmark: {
      type: Object,
      default: null
    }
  },
  data() {
    return {};
  }
};
</script>

<style lang="scss">
.bookmark-folder.empty {
  .left-polygon {
    background-color: $light-folder-black;
  }
  .right-polygon {
    background-color: $dark-folder-black;
  }
}
</style>
