<template>
  <div class="subfolder">
    <div class="top-mini-polygon" />
    <div class="lateral-mini-polygon">
      <div class="left-mini-polygon" />
      <div class="right-mini-polygon" />
    </div>
  </div>
</template>

<script>
export default {
  name: "EmptySubFolderBookmark"
};
</script>

<style lang="scss" scoped>
.subfolder {
  background-color: transparent;
  width: 98px;
  height: 70px;
  display: flex;
  align-items: flex-end;

  .top-mini-polygon {
    background-color: $light-grey;
    width: 98px;
    height: 4px;
    position: absolute;
    align-self: flex-start;
  }

  .lateral-mini-polygon {
    position: absolute;
    display: flex;
    align-items: flex-end;

    height: 68px;
    width: 98px;

    .left-mini-polygon {
      position: absolute;
      width: 100%;
      height: 68px;
      clip-path: polygon(0 0%, 36% 0%, 82% 100%, 0% 100%);
      background-color: $light-folder-black;
    }

    .right-mini-polygon {
      position: absolute;
      width: 100%;
      height: 66px;
      clip-path: polygon(37% 0, 100% 0, 100% 100%, 81% 100%);
      background-color: $dark-folder-black;
    }
  }
}
</style>
