<template>
  <v-card tile class="mini-bookmark-link">
    <img :src="subbookmark.thumbnailUrl" :alt="subbookmark.title" />
  </v-card>
</template>

<script>
export default {
  name: "FilledSubFolderBookmark",
  props: {
    subbookmark: {
      type: Object,
      default: null
    }
  }
};
</script>

<style lang="scss" scoped>
.mini-bookmark-link {
  background-color: $black-transparent;
  width: 98px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-height: 85%;
    max-width: 85%;
  }
}
</style>
