<template>
  <folder-bookmark status="filled" :bookmark="bookmark">
    <div class="subfolders">
      <div
        v-for="subBookmark in firstBookmarksByParentId(bookmark.id)"
        :key="subBookmark.id"
        class="subfolder-wrapper"
      >
        <filled-sub-folder-bookmark
          v-if="subBookmark.isLink"
          :subbookmark="subBookmark"
        />
        <empty-sub-folder-bookmark v-else />
      </div>
    </div>
  </folder-bookmark>
</template>

<script>
import { mapGetters } from "vuex";
import FolderBookmark from "./FolderBookmark";
import EmptySubFolderBookmark from "./EmptySubFolderBookmark";
import FilledSubFolderBookmark from "./FilledSubFolderBookmark";

export default {
  name: "FilledFolderBookmark",
  components: {
    FolderBookmark,
    EmptySubFolderBookmark,
    FilledSubFolderBookmark
  },
  props: {
    bookmark: {
      type: Object,
      default: null
    }
  },
  data() {
    return {};
  },
  computed: {
    ...mapGetters(["firstBookmarksByParentId"])
  }
};
</script>

<style lang="scss">
.subfolders {
  position: absolute;
  height: 170px;
  width: 100%;
  background-color: transparent;
  display: grid;
  grid-template-columns: 125px 125px;
  grid-template-rows: 1fr 1fr;
  .subfolder-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
</style>
