<template>
  <fragment>
    <v-icon
      class="bookmark-icon delete-icon"
      small
      :class="{ show: hover }"
      @mouseover="hover = true"
      @mouseleave="hover = false"
      @click="deleteBookmark(bookmark.id)"
      >fas fa-minus-circle</v-icon
    >
    <v-card
      tile
      :class="['bookmark-folder', status, { active: hover }]"
      @click="isDragged ? null : goToChildFolder(bookmark.id)"
      @mouseover="hover = true"
      @mouseleave="hover = false"
    >
      <div class="top-polygon" />
      <div class="lateral-polygon">
        <div class="left-polygon" />
        <div class="right-polygon" />
      </div>
      <slot />
    </v-card>
    <bookmark-title :bookmark="bookmark" />
  </fragment>
</template>

<script>
import { Fragment } from "vue-fragment";
import { mapActions } from "vuex";
import BookmarkTitle from "../BookmarkTitle";
import ClassWatcher from "../../../plugins/ClassWatcher";

export default {
  name: "FolderBookmark",
  components: {
    Fragment,
    BookmarkTitle
  },
  props: {
    bookmark: {
      type: Object,
      default: null
    },
    status: {
      type: String,
      default: "empty"
    }
  },
  data() {
    return {
      hover: false,
      isDragged: false
    };
  },
  mounted() {
    const bookmarkNode = document.querySelector(
      `div[data-id="${this.bookmark.id}"]`
    );
    const beginDragged = () => {
      this.isDragged = true;
    };

    const endDragged = () => {
      setTimeout(() => {
        this.isDragged = false;
      }, 50);
    };

    // eslint-disable-next-line no-unused-vars
    const classWatcher = new ClassWatcher(
      bookmarkNode,
      "is-dragged",
      beginDragged,
      endDragged
    );
  },
  methods: {
    ...mapActions(["deleteBookmark"]),
    goToChildFolder(parentBookmarkId) {
      this.$store.commit("SET_TAB_TRANSITION", "fade");
      this.$store.commit("SET_PARENT_BOOKMARK_ID", parentBookmarkId);
    }
  }
};
</script>

<style lang="scss">
.bookmark-folder {
  background-color: transparent !important;
  width: 100%;
  height: 180px;
  transition: transform 0.2s;
  display: flex;
  align-items: flex-end;

  &:hover {
    transform: scale(1.03);
    cursor: pointer;
  }

  &.filled {
    .left-polygon {
      background-color: $filled-bookmark-bg-grey;
    }
    .right-polygon {
      background-color: $filled-bookmark-bg-grey;
    }
  }

  .top-polygon {
    background-color: $light-grey;
    width: 100%;
    height: 10px;
    position: absolute;
    align-self: flex-start;
  }

  .lateral-polygon {
    position: absolute;
    display: flex;
    align-items: flex-end;

    height: 180px;
    width: 100%;

    .left-polygon {
      position: absolute;
      width: 100%;
      height: 175px;
      clip-path: polygon(0 0%, 36% 0%, 82% 100%, 0% 100%);
    }

    .right-polygon {
      position: absolute;
      width: 100%;
      height: 170px;
      clip-path: polygon(37% 0, 100% 0, 100% 100%, 81% 100%);
    }
  }
}
</style>
