<template>
  <div class="bookmark-editor">
    <p>Edit Bookmark</p>
    <v-text-field
      v-model="inputBookmarkTitle"
      hide-details
      class="searchbar-input"
      color="#DADAD4"
      solo
      flat
      background-color="#31302C"
      >Bookmark Name</v-text-field
    >
    <v-text-field
      v-model="inputBookmarkUrl"
      hide-details
      class="searchbar-input"
      color="#DADAD4"
      solo
      flat
      background-color="#31302C"
      >Bookmark URL</v-text-field
    >
    <v-btn
      :ripple="false"
      outlined
      small
      color="#CB6110"
      @click="
        updateSelectedBookmark();
        $root.$emit('close-edit-bookmark-modal');
      "
      >Save</v-btn
    >
    <v-btn
      :ripple="false"
      small
      @click="$root.$emit('close-edit-bookmark-modal')"
      >Cancel</v-btn
    >
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "EditBookmarkWindow",
  props: {
    bookmark: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      inputBookmarkTitle: this.bookmark.title,
      inputBookmarkUrl: this.bookmark.url
    };
  },
  methods: {
    ...mapActions(["updateBookmark"]),
    updateSelectedBookmark() {
      if (
        this.inputBookmarkUrl !== "" &&
        this.inputBookmarkTitle !== "" &&
        (this.bookmark.url !== this.inputBookmarkUrl ||
          this.bookmark.title !== this.inputBookmarkTitle)
      ) {
        const updatedBookmark = {
          ...this.bookmark,
          title: this.inputBookmarkTitle,
          url: this.inputBookmarkUrl
        };
        this.updateBookmark(updatedBookmark);
      }
    }
  }
};
</script>

<style lang="scss">
.bookmark-editor {
  background-color: $my-grey;
  width: 350px !important;
  height: 22%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
  border: $black-transparent 1px solid;

  p {
    color: $white-text-color;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 15px !important;
  }

  .v-text-field {
    flex: initial;
    width: 320px;
    border-radius: initial;
    font-size: 14px;
    background-color: $black-transparent !important;
    margin-bottom: 8px;

    &.v-text-field--solo .v-input__control {
      min-height: 35px !important;
    }
  }

  .v-btn {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: initial;
    text-transform: none !important;

    &:hover {
      background-color: $my-orange !important;
      color: white !important;
    }
  }
}
</style>
