<template>
  <nav>
    <v-text-field
      v-model="input"
      class="searchbar-input"
      background-color="#35343F"
      color="white"
      placeholder="Search Google"
      solo
      hide-details
      flat
      clearable
      prepend-inner-icon="fab fa-google"
      @keydown.enter="search"
    >
      Google
    </v-text-field>
  </nav>
</template>

<script>
export default {
  data() {
    return {
      input: ""
    };
  },
  methods: {
    search() {
      if (this.input !== "") {
        window.location = `https://www.google.fr/search?q=${this.input}`;
      }
    }
  }
};
</script>

<style lang="scss">
.searchbar-input input::placeholder {
  color: white !important;
  opacity: 0.5;
}

.searchbar-input input {
  color: white !important;
}

.v-application--is-ltr .v-text-field .v-input__prepend-inner {
  margin-right: 10px;
}

nav {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  .v-text-field {
    flex: initial;
    width: 400px;
    border-radius: initial;

    .v-icon {
      color: white;
    }
  }

  .v-text-field--outline:not(.v-input--is-focused):not(.v-input--has-state)
    > .v-input__control
    > .v-input__slot:hover {
    border-width: 1px;
    border-style: solid;
    border-color: $my-orange;
  }
}
</style>
