<template>
  <div class="import-bookmarks">
    <div class="header">
      <h4>Import Google Chrome Bookmarks File</h4>
      <v-btn icon class="close-icon" x-small @click="close">
        <v-icon>fas fa-times</v-icon>
      </v-btn>
    </div>

    <div class="import-bookmarks-contents">
      <div class="import-bookmarks-infos">
        <p>
          You will find the Google Chrome Bookmarks file <br />on {{ os }} at
          this location :
        </p>
        <p>
          <strong>{{ path }}</strong>
        </p>
      </div>

      <div class="import-bookmarks-input">
        <label>
          <v-icon x-large color="#BEBEB7">fas fa-file-upload</v-icon>
          <input id="file" ref="file" type="file" @change="handleFileUpload" />
        </label>
        <p v-if="file !== null" class="file-name">{{ file.name }}</p>
        <v-btn class="btn-submit" :ripple="false" @click="submitFile()">
          Submit
        </v-btn>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import { getOS, isValidJsonString, readFileAsync } from "../plugins/helpers";

export default {
  name: "ImportBookmarkWindow",
  props: {},
  data() {
    return {
      os: getOS(),
      path: this.getBookmarkPath(),
      file: ""
    };
  },
  methods: {
    ...mapActions(["importBookmarks"]),
    getBookmarkPath() {
      switch (getOS()) {
        case "Windows":
          return "C:\\Users\\<YOUR_USERNAME>\\AppData\\Local\\Google\\Chrome\\User Data\\Default\\Bookmarks";
        case "Linux":
          return "~/. config/google-chrome/Default/Bookmarks";
        case "Mac OS":
          return "Users/<username>/Library/Application Support/Google/Chrome/Default/Bookmarks";
      }
    },
    async isValidJsonFile(file) {
      if (file.type === "application/json" || file.type === "") {
        const content = await readFileAsync(file);
        if (isValidJsonString(content)) {
          return true;
        }
      }
      return false;
    },
    async handleFileUpload() {
      const chosenFile = this.$refs.file.files[0];
      if (await this.isValidJsonFile(chosenFile)) {
        this.file = chosenFile;
      } else {
        console.error("The file format is not valid");
      }
    },
    async submitFile() {
      const formData = new FormData();
      formData.append("file", this.file);
      await this.importBookmarks(formData);
    },
    close() {
      this.$bus.$emit("close-import-bookmarks-modal");
    }
  }
};
</script>

<style lang="scss">
.import-bookmarks {
  background-color: $my-grey;
  min-width: 500px;
  width: 40% !important;
  height: 60%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: $black-transparent 1px solid;

  .header {
    background-color: $dark-grey;
    padding: 5px;
    position: relative;
    color: $grey-text-color;
    text-align: center;

    .v-btn {
      position: absolute;
      right: 5px;
      top: 5px;
      .v-icon {
        color: $grey-text-color;
      }
    }
  }

  .import-bookmarks-contents {
    .import-bookmarks-infos {
      display: block;
      margin-top: 50px;
      margin-bottom: 50px;
      text-align: center;
      color: $grey-text-color;
    }

    .import-bookmarks-input {
      display: flex;
      align-content: center;
      flex-direction: column;

      label {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 120px;
        height: 120px;
        background-color: rgb(255, 255, 255, 0.2);
        border-radius: 100px;
        cursor: pointer;

        .v-icon {
          font-size: 80px !important;
          position: relative;
          top: 20px;
        }

        input {
          width: 0.1px;
          height: 0.1px;
          opacity: 0;
          overflow: hidden;
          position: absolute;
          z-index: -1;
        }
      }

      .file-name {
        margin-top: 10px;
        color: $grey-text-color;
        text-align: center;
      }

      .btn-submit {
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        width: 100px;
      }
    }
  }
}
</style>
