<template>
  <nav>
    <v-tabs
      v-model="tabIndex"
      background-color="transparent"
      centered
      color="#DADAD4"
      slider-color="#ED773D"
      height="60px"
    >
      <v-tab
        v-for="tab in orderedTabs"
        :key="tab.id"
        :ripple="false"
        :class="{ 'edit-mode': tab.id === selectedEditTabId }"
        @contextmenu.prevent="
          orderedTabs.length > 1 && $refs.menu.open($event, tab)
        "
        @dblclick="editTabById(tab.id)"
      >
        <input
          v-if="tab.id === selectedEditTabId"
          v-model="tabTitle"
          type="text"
          @focusout="editTabTitle($event, tab.id)"
          @keyup.enter="disableTabEdit"
        />

        <p v-else>{{ tab.title }}</p>
      </v-tab>
    </v-tabs>
    <div class="new-tab" @click="newTab">
      <div class="new-tab">
        <v-icon small>fas fa-plus</v-icon>
      </div>
    </div>
    <context-menu ref="menu">
      <template slot-scope="{ contextData }">
        <context-menu-item @click.native="$refs.menu.close">
          <p @click.prevent="deleteTab(contextData.id)">
            Remove
          </p>
        </context-menu-item>
      </template>
    </context-menu>
  </nav>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import ContextMenu from "./ContextMenu/ContextMenu";
import ContextMenuItem from "./ContextMenu/ContextMenuItem";

export default {
  components: { ContextMenu, ContextMenuItem },
  data() {
    return {
      tabTitle: "",
      previousTabTitle: ""
    };
  },
  computed: {
    ...mapGetters(["orderedTabs", "selectedEditTabId", "selectedEditTab"]),
    tabIndex: {
      get() {
        return this.$store.state.selectedTabIndex;
      },
      set(selectedTabIndex) {
        this.$store.dispatch("changeTab", selectedTabIndex);
      }
    }
  },
  mounted() {
    // const inputs = document.querySelectorAll(".v-tab input");
    // inputs.forEach(item => {
    //   item.style.width = (item.vae.target.value.length + 1) * 8 + "px";
    // });
  },
  methods: {
    ...mapActions(["createTab", "updateTab", "deleteTab"]),
    async newTab() {
      await this.createTab();
      const input = document.querySelector(".v-tab input");
      this.tabTitle = this.selectedEditTab ? this.selectedEditTab.title : "";
      input.focus();
      setTimeout(() => {
        input.select();
      });
    },
    async editTabTitle(e, tabId) {
      if (this.tabTitle !== "" && this.tabTitle !== this.previousTabTitle) {
        await this.updateTab({ tabId, title: this.tabTitle });
      } else {
        this.disableTabEdit();
      }
    },
    editTabById(tabId) {
      this.$store.commit("SET_SELECTED_EDIT_TAB_ID", tabId);
      setTimeout(() => {
        const input = document.querySelector(".v-tab input");
        this.tabTitle = this.previousTabTitle = this.selectedEditTab
          ? this.selectedEditTab.title
          : "";
        input.focus();
        setTimeout(() => {
          input.select();
        });
      });
    },
    disableTabEdit() {
      if (this.selectedEditTabId !== null) {
        this.$store.commit("SET_SELECTED_EDIT_TAB_ID", null);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
nav {
  background-color: $my-grey;
  height: 60px;
  width: 100%;
  border-bottom: $light-black 3px solid;
  box-sizing: border-box;

  .v-tabs {
    width: auto;
    flex: none;

    .v-tab {
      text-transform: none;
      letter-spacing: normal;
      font-weight: normal;
      color: $grey-text-color !important;

      &.edit-mode {
        background-color: black;
      }

      &:hover::before {
        opacity: 0 !important;
      }

      input {
        color: $white-text-color;
      }
    }
  }

  .new-tab {
    margin-left: 12px;

    .v-icon {
      color: $grey-text-color;

      &:hover {
        color: $grey-text-color !important;
      }
    }
  }
}
</style>
