<template>
  <div class="settings">
    <div class="header">
      <h4>Speed Dial Settings</h4>
      <v-btn icon class="close-icon" x-small @click="close">
        <v-icon>fas fa-times</v-icon>
      </v-btn>
    </div>
    <div class="settings-content">
      <p>Background image</p>
      <v-img
        v-if="currentBackgroundImageUrl"
        :src="currentBackgroundImageUrl"
        max-width="300"
      ></v-img>
      <v-text-field
        v-model="newBackgroundImageUrl"
        label="Image URL"
        placeholder="https://images.pexels.com/photos/33109/fall-autumn-red-season.jpg"
        solo
        flat
        clearable
        background-color="#35343F"
        color="white"
        :error-messages="urlMatchError"
        class="image-input mt-2"
      ></v-text-field>
      <v-checkbox
        v-model="showBookmarkTitle"
        label="Show bookmark title"
        color="#ED773D"
        dark
      ></v-checkbox>
      <v-checkbox
        v-model="openInNewTab"
        label="Open bookmark in a new tab"
        color="#ED773D"
        dark
      ></v-checkbox>
      <v-btn v-if="isModified" small @click="saveSettings">Save</v-btn>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "SettingsWindow",
  data() {
    return {
      selectValue: "Default",
      items: ["Tiny", "Small", "Default", "Large", "Huge"],
      showBookmarkTitle: true,
      openInNewTab: true,
      currentBackgroundImageUrl: null,
      newBackgroundImageUrl: null
    };
  },
  computed: {
    ...mapActions(["updateSettings"]),
    ...mapGetters({ user: "user", settings: "settings" }),
    urlMatchError() {
      return this.isValidImageUrl(this.newBackgroundImageUrl)
        ? ""
        : "not valid URL";
    },
    isModified() {
      return (
        this.openInNewTab !== this.settings.openInNewTab ||
        this.showBookmarkTitle !== this.settings.showBookmarkTitle ||
        (!this.isImageUrlEmpty() && this.isImageUrlMatchRegex())
      );
    }
  },
  mounted() {
    if (this.settings) {
      this.selectValue = this.settings.bookmarkWidth;
      this.showBookmarkTitle = this.settings.showBookmarkTitle;
      this.openInNewTab = this.settings.openInNewTab;
      this.currentBackgroundImageUrl = this.settings.backgroundImageUrl;
    }
  },
  methods: {
    close() {
      this.$bus.$emit("close-settings-modal");
    },
    saveSettings() {
      const updatedSettings = {
        id: this.settings.id,
        showBookmarkTitle: this.showBookmarkTitle,
        openInNewTab: this.openInNewTab,
        bookmarkWidth: 250,
        backgroundImageUrl: this.computedBackgroundImageUrl()
      };
      this.$store.dispatch("updateSettings", updatedSettings);

      if (this.newBackgroundImageUrl) {
        this.currentBackgroundImageUrl = this.newBackgroundImageUrl;
        this.newBackgroundImageUrl = null;
      }
    },
    isValidImageUrl() {
      return this.isImageUrlMatchRegex() || this.isImageUrlEmpty();
    },
    isImageUrlMatchRegex() {
      const imageUrlPattern = /(http(s?):)([/|.|\w|\s|-])*\.(?:jpg|gif|png|jpeg)/;
      return imageUrlPattern.test(this.newBackgroundImageUrl);
    },
    isImageUrlEmpty() {
      return (
        this.newBackgroundImageUrl === "" || this.newBackgroundImageUrl === null
      );
    },
    computedBackgroundImageUrl() {
      if (!this.isImageUrlEmpty() && this.isImageUrlMatchRegex()) {
        return this.newBackgroundImageUrl;
      }
      return this.currentBackgroundImageUrl;
    }
  }
};
</script>
<style lang="scss">
.image-input input::placeholder {
  color: white !important;
  opacity: 0.5;
}

.image-input input {
  color: white !important;
  font-size: 13px;
}

.settings {
  background-color: $my-grey;
  width: 40% !important;
  min-width: 500px;
  height: 60%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  .header {
    background-color: $dark-grey;
    padding: 5px;
    position: relative;
    color: $grey-text-color;
    text-align: center;

    .v-btn {
      position: absolute;
      right: 5px;
      top: 5px;
      .v-icon {
        color: $grey-text-color;
      }
    }
  }

  .settings-content {
    padding: 15px;
    color: $grey-text-color;

    p {
      font-weight: bold;
    }

    .v-input {
      width: 90%;
      color: white !important;
    }
  }
}
</style>
