<template>
  <aside>
    <p>{{ timestamp }}</p>

    <v-tooltip right>
      <template v-slot:activator="{ on, attrs }">
        <v-icon
          color="#BEBEB7"
          style="margin-top: 10px"
          v-bind="attrs"
          v-on="on"
          @click="toggleSettingsModal"
          >fas fa-cog
        </v-icon>
      </template>
      <span>Settings</span>
    </v-tooltip>

    <v-tooltip right>
      <template v-slot:activator="{ on, attrs }">
        <v-icon
          color="#BEBEB7"
          v-bind="attrs"
          @click="toggleImportBookmarksModal"
          v-on="on"
          >fas fa-file-import</v-icon
        >
      </template>
      <span>Import Google Chrome Bookmarks File</span>
    </v-tooltip>

    <v-tooltip right>
      <template v-slot:activator="{ on, attrs }">
        <v-icon color="#BEBEB7" v-bind="attrs" @click="logout" v-on="on"
          >fas fa-sign-out-alt</v-icon
        >
      </template>
      <span>Logout</span>
    </v-tooltip>
  </aside>
</template>

<script>
export default {
  data() {
    return {
      timestamp: ""
    };
  },
  created() {
    setInterval(this.getNow, 1000);
  },
  methods: {
    getNow() {
      const today = new Date();
      let hour = today.getHours();
      let minute = today.getMinutes();
      if (hour.toString().length === 1) {
        hour = "0" + hour;
      }
      if (minute.toString().length === 1) {
        minute = "0" + minute;
      }
      this.timestamp = `${hour}:${minute}`;
    },
    async logout() {
      await this.$auth.logout();
    },
    toggleImportBookmarksModal() {
      this.$bus.$emit("toggle-import-bookmarks-modal");
    },
    toggleSettingsModal() {
      this.$bus.$emit("toggle-settings-modal");
    }
  }
};
</script>

<style lang="scss">
.v-icon:hover {
  color: white !important;
  cursor: pointer;
}

aside {
  background-color: $dark-grey;
  width: 44px;
  height: 100%;
  border-right: $light-black 3px solid;
  box-sizing: border-box;
  position: relative;
  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: center;

  .v-icon {
    margin-top: 20px;
  }

  p {
    margin-top: 10px;
    font-size: 14px;
    color: $grey-text-color;
  }
}
</style>
