<template>
  <div
    v-show="isVisible"
    ref="popper"
    v-click-outside="close"
    class="context-menu"
    tabindex="-1"
    @contextmenu.capture.prevent
  >
    <ul>
      <slot :contextData="contextData" />
    </ul>
  </div>
</template>

<script>
import { createPopper } from "@popperjs/core";
import ClickOutside from "vue-click-outside";

export default {
  directives: {
    ClickOutside
  },
  props: {
    boundariesElement: {
      type: String,
      default: "body"
    }
  },
  data() {
    return {
      opened: false,
      contextData: {}
    };
  },
  computed: {
    isVisible() {
      return this.opened;
    }
  },
  beforeDestroy() {
    if (this.popper !== undefined) {
      this.popper.destroy();
    }
  },
  methods: {
    open(evt, contextData) {
      this.opened = true;
      this.contextData = contextData;

      if (this.popper) {
        this.popper.destroy();
      }

      // On positionne le tooltip par rapport à la position de la souris lors du clic
      const virtualElement = {
        getBoundingClientRect: this.generateGetBoundingClientRect(evt)
      };

      this.popper = createPopper(virtualElement, this.$refs.popper, {
        placement: "right-start"
      });

      // Recalculate position
      this.$nextTick(() => {
        this.popper.update();
      });
    },
    close() {
      this.opened = false;
      this.contextData = null;
    },
    generateGetBoundingClientRect(evt, x = 0, y = 0) {
      const left = evt.clientX;
      const top = evt.clientY;
      const right = left + 1;
      const bottom = top + 1;
      return () => ({
        width: 0,
        height: 0,
        top,
        right,
        bottom,
        left
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.context-menu {
  position: fixed;
  z-index: 999;
  overflow: hidden;
  background: $dark-folder-black;

  &:focus {
    outline: none;
  }

  a {
    text-decoration: none !important;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
}
</style>
