<template>
  <li class="context-menu-item">
    <slot />
  </li>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.context-menu-item {
  display: block;
  position: relative;
  background: $dark-folder-black;
  text-decoration: none;
  font-size: 13px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 8px 15px 8px 15px;
  border: solid 0.1px $dark-grey;

  &:hover {
    background-color: #79f1ed;
    color: black;
    a,
    p {
      color: black !important;
    }
  }

  a,
  p {
    color: $grey-text-color !important;
    text-decoration: none !important;
  }
}
</style>
