@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  overflow: hidden;
}

.v-application p {
  margin-bottom: 0!important;
}

/******** TRANSITION 'NEXT TAB' ********/
.next-enter { transform: translate(2000px, 0); }
.next-enter-active {
  transition: 0.2s;
  transition-delay: 0.2s
}
.next-leave-active {
  transition: 0.2s;
}
.next-leave-to { transform: translate(-2000px, 0); }

/******** TRANSITION 'PREV TAB' ********/
.prev-enter { transform: translate(-2000px, 0); }
.prev-enter-active {
  transition: 0.2s;
  transition-delay: 0.2s
}
.prev-leave-active {
  transition: 0.2s;
}
.prev-leave-to { transform: translate(2000px, 0); }

/******** TRANSITION 'FADE' ********/
.fade-enter, .fade-leave-to  {
  opacity: 0;
}
.fade-enter-active {
  transition: opacity 0.3s;
  transition-delay: 0.3s;
}
.fade-leave-active {
  transition: opacity .3s;
}

/******** TRANSITION 'BOTTOM BANNER' ********/
.bottom-banner-enter-active, .bottom-banner-leave-active {
  transition: transform .2s;
}
.bottom-banner-enter, .bottom-banner-leave-to {
  transform: translateY(160px);
}
