$screen-xs-min: 470px;
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 620px;
// Small tablets (portrait view)
$screen-md-min: 960px;
// Tablets and small desktops
$screen-lg-min: 1264px;
// Large tablets and desktops
$screen-xl-min: 1904px;

@mixin xs {
  @media (max-width: #{$screen-xs-min}) {
    @content;
  }
}

// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (max-width: #{$screen-xl-min}) {
    @content;
  }
}

// Custom devices
@mixin rwd($screen) {
  @media (min-width: $screen+'px') {
    @content;
  }
}

$dark-grey: #3B3A35;
$my-grey: #494843;
$light-grey: #E4E4DC;

$grey-text-color: #DADAD4;
$white-text-color: #E8E8E0;

$black-transparent: rgba(0, 0, 0, 0.43);
$light-black: #31302C;
$dark-transparent: rgba(73, 68, 59, 0.83);

$my-orange: #f37a4a;
$dark-orange: #CB6110;

$light-folder-black: #45443F;
$dark-folder-black: #40413B;

$filled-bookmark-bg-grey: #4A4F4A
