<template>
  <main class="d-flex flex-row">
    <side-bar />
    <div class="d-flex flex-column">
      <nav-bar />
      <div
        v-if="backgroundImageUrl"
        class="content"
        :style="{ backgroundImage: `url(${backgroundImageUrl})` }"
      >
        <google-searchbar />
        <bookmark-list />
        <bookmark-form />
      </div>
      <settings-window v-if="isSettingsModalOpen" />
      <edit-bookmark-window
        v-if="isEditBookmarkModalOpen"
        :bookmark="selectedBookmark"
      />
      <import-bookmarks-window v-if="isImportBookmarkModalOpen" />
    </div>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
import SideBar from "../components/SideBar";
import NavBar from "../components/NavBar";
import BookmarkList from "../components/Bookmarks/BookmarkList";
import GoogleSearchbar from "../components/GoogleSearchbar";
import BookmarkForm from "../components/Bookmarks/BookmarkForm";
import SettingsWindow from "../components/SettingsWindow";
import EditBookmarkWindow from "../components/EditBookmarkWindow";
import ImportBookmarksWindow from "../components/ImportBookmarksWindow";

export default {
  middleware: ["auth"],
  components: {
    SideBar,
    NavBar,
    BookmarkList,
    GoogleSearchbar,
    SettingsWindow,
    BookmarkForm,
    EditBookmarkWindow,
    ImportBookmarksWindow
  },
  async fetch({ store }) {
    await store.dispatch("fetchBookmarksAndTabs");
  },
  data() {
    return {
      isSettingsModalOpen: false,
      isEditBookmarkModalOpen: false,
      isImportBookmarkModalOpen: false,
      selectedBookmark: null
    };
  },
  computed: {
    ...mapGetters({ user: "user", settings: "settings" }),
    backgroundImageUrl() {
      const imageUrlPattern = /(http(s?):)([/|.|\w|\s|-])*\.(?:jpg|gif|png)/;
      if (
        this.settings.backgroundImageUrl &&
        imageUrlPattern.test(this.settings.backgroundImageUrl)
      ) {
        return this.settings.backgroundImageUrl;
      }
      return "/vivaldi-gradient-wallpaper.jpg";
    }
  },
  mounted() {
    this.$root.$on("toggle-edit-bookmark-modal", bookmark => {
      this.selectedBookmark = bookmark;
      this.isEditBookmarkModalOpen = !this.isEditBookmarkModalOpen;
    });
    this.$root.$on("close-edit-bookmark-modal", () => {
      this.isEditBookmarkModalOpen = false;
    });
    this.$bus.$on("toggle-settings-modal", () => {
      this.isSettingsModalOpen = !this.isSettingsModalOpen;
      if (this.isSettingsModalOpen) {
        this.isEditBookmarkModalOpen = false;
        this.isImportBookmarkModalOpen = false;
      }
    });
    this.$bus.$on("close-settings-modal", () => {
      this.isSettingsModalOpen = false;
    });
    this.$bus.$on("toggle-import-bookmarks-modal", () => {
      this.isImportBookmarkModalOpen = !this.isImportBookmarkModalOpen;
      if (this.isImportBookmarkModalOpen) {
        this.isSettingsModalOpen = false;
        this.isEditBookmarkModalOpen = false;
      }
    });
    this.$bus.$on("close-import-bookmarks-modal", () => {
      this.isImportBookmarkModalOpen = false;
    });
  },
  methods: {}
};
</script>

<style lang="scss" scoped>
main {
  height: 100%;

  div {
    width: 100%;
  }

  .content {
    height: 100%;
    background-size: cover;
  }
}
</style>
