<template>
  <main :style="{ backgroundImage: `url(${backgroundImage})` }">
    <v-card raised class="login-content">
      <v-img
        contain
        src="dawndash-logo.png"
        alt="Dawndash Logo"
        max-height="300"
      />
      <p class="title white--text">DawnDash</p>
      <v-btn class="mt-4" large @click="login">
        <v-icon class="mr-4">fab fa-google</v-icon>
        Sign in with Google
      </v-btn>
    </v-card>
  </main>
</template>
<script>
import { mapActions } from "vuex";
import config from "../config";

export default {
  middleware: ["auth"],
  data() {
    return {
      backgroundImage: "/vivaldi-gradient-wallpaper.jpg"
    };
  },
  methods: {
    ...mapActions(["login"]),
    async login() {
      try {
        const googleUser = await this.$gAuth.signIn();
        let tokenData = null;

        for (const value of Object.values(googleUser)) {
          if (typeof value === "object" && "token_type" in value) {
            tokenData = value;
          }
        }

        const token = {
          type: tokenData.token_type,
          value: tokenData.id_token
        };
        const { data } = await this.$axios.get(`${config.apiUrl}/me`, {
          headers: {
            Authorization: `${token.type} ${token.value}`
          }
        });
        this.$store.commit("SET_SETTINGS", data.setting);
        delete data.setting;
        this.$auth.setUser(data);
        this.$store.commit("SET_TOKEN_ID", token);
        this.$auth.redirect("home");
      } catch (e) {
        this.$toast.error(e.message);
        console.log(e);
      }
    }
  }
};
</script>
<style lang="scss" scoped>
main {
  height: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 400px;

  .login-content {
    background-color: $black-transparent;
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      display: block;
      border: solid white 1px;
      font-size: 3rem !important;
      padding: 20px;
      font-family: "Montserrat", sans-serif !important;

      @include sm {
        font-size: 2.5rem !important;
        padding: 15px;
      }
      @include xs {
        font-size: 2rem !important;
        padding: 10px;
      }
    }
  }
}
</style>
