<template>
  <transition v-if="newBookmarkMode" name="bottom-banner">
    <div class="bookmark-form-banner">
      <div class="bookmark-form">
        <p>Add Bookmark to Speed Dial</p>
        <div class="form-wrapper">
          <v-text-field
            v-model="input"
            hide-details
            class="searchbar-input"
            color="#DADAD4"
            placeholder="https://google.com"
            solo
            flat
            background-color="#35343F"
            >Bookmark</v-text-field
          >
          <v-btn
            :disabled="isButtonActive"
            :ripple="false"
            outlined
            small
            @click="createLink(input)"
            >Add</v-btn
          >
        </div>
        <v-btn
          class="btn-new-bookmark"
          outlined
          :ripple="false"
          @click="createNewBookmark(createFolderBookmark)"
        >
          <v-icon left color="white">far fa-folder</v-icon> New Folder
        </v-btn>
      </div>

      <div class="bookmark-form-suggest">
        <div
          class="icon-wrapper"
          @click="createNewBookmark(closeNewBookmarkMode)"
        >
          <v-icon small>fas fa-times</v-icon>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
// import Sortable from "../../plugins/sorter";

export default {
  name: "BookmarkForm",
  data() {
    return {
      input: ""
    };
  },
  computed: {
    ...mapGetters(["newBookmarkMode"]),
    isButtonActive() {
      return this.input === "";
    }
  },
  methods: {
    ...mapActions(["createFolderBookmark", "createLinkBookmark"]),
    createNewBookmark(createBookmarkFunctionCallback) {
      createBookmarkFunctionCallback();
      // setTimeout(() => {
      //   const bookmarks = document.querySelector(".bookmarks");
      //   Sortable.setPositions(bookmarks);
      // }, 800);
    },
    closeNewBookmarkMode() {
      this.$store.commit("SET_NEW_BOOKMARK_MODE", false);
    },
    createLink(input) {
      if (
        input.substring(0, 7) !== "http://" &&
        input.substring(0, 8) !== "https://"
      ) {
        input = "http://" + input;
      }
      this.createLinkBookmark(input);
      this.input = "";
    }
  }
};
</script>

<style lang="scss">
.bookmark-form-banner {
  position: absolute;
  width: 100%;
  height: 160px;
  bottom: 0;
  border-top: 2px $light-black solid;
  display: flex;

  .bookmark-form {
    background-color: $light-folder-black;
    border-right: 2px $light-black solid;
    min-width: 400px;
    padding: 12px;

    p {
      color: $white-text-color;
      font-size: 14px;
      font-weight: bold;
    }

    .form-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .v-input__control {
        min-height: 20px !important;
      }

      .v-text-field {
        flex: initial;
        width: 320px;
        border-radius: initial;
        font-size: 14px;
      }

      .v-btn {
        padding-left: 5px;
        padding-right: 5px;
        border-radius: initial;

        &:hover {
          background-color: $my-orange !important;
          color: white !important;
        }

        &,
        .v-btn--disabled {
          color: $dark-orange !important;
        }
      }
      .v-btn--outlined {
        border: thin solid $dark-orange;
      }
    }

    .btn-new-bookmark {
      margin-top: 10px;
      height: 30px;
      text-transform: none;
      font-size: 12px;
      color: $grey-text-color;
      border-radius: initial;

      &,
      .v-btn--outlined {
        border: thin solid black;
      }
    }
  }

  .bookmark-form-suggest {
    position: relative;
    background-color: $dark-folder-black;
    width: 100%;

    .icon-wrapper {
      background-color: $black-transparent;
      position: absolute;
      top: 5px;
      right: 50px;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;

      .v-icon {
        color: $light-grey;
      }
    }
  }
}
</style>
