<template>
  <div
    v-if="settings && settings.showBookmarkTitle"
    :ref="'bookmarkTitle-' + bookmark.id"
    class="bookmark-title mt-2"
  >
    <p v-if="!editMode" class="px-4" @click="editInput">{{ bookmark.title }}</p>
    <input
      v-else
      ref="input"
      v-model="input"
      type="text"
      class="px-4"
      @focusout="validInput"
      @keyup.enter="editMode = false"
    />
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  name: "BookmarkTitle",
  props: {
    bookmark: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      input: this.bookmark.title,
      editMode: false
    };
  },
  computed: {
    ...mapGetters(["settings"])
  },
  created() {
    this.$root.$off(`toggleEditMode-${this.bookmark.id}`);
    this.$root.$on(`toggleEditMode-${this.bookmark.id}`, () => {
      this.editInput();
    });
  },
  methods: {
    ...mapActions(["updateBookmark"]),
    toggleEditMode() {
      this.editMode = !this.editMode;
    },
    editInput() {
      this.toggleEditMode();
      if (this.editMode) {
        setTimeout(() => {
          this.$refs.input.select();
        }, 50);
      }
    },
    validInput(e) {
      if (this.bookmark.title !== this.input) {
        const updatedBookmark = {
          ...this.bookmark,
          title: this.input
        };
        this.updateBookmark(updatedBookmark);
      }
      this.editMode = false;
    }
  }
};
</script>

<style lang="scss" scoped>
.bookmark-title {
  text-align: center;

  p {
    max-width: 240px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  p,
  input {
    font-size: 14px;
    border-radius: 50px;
    width: auto;
    color: $grey-text-color;
    display: inline-block;
    background-color: $dark-transparent;
  }
}
</style>
