<template>
  <transition name="fade">
    <div v-if="isParentBookmarkExists" class="breadcrumb-wrapper mb-6">
      <div class="breadcrumb" @click="goToParentFolder(currentBookmarkFolder)">
        <v-icon>fas fa-angle-double-left</v-icon>
        <p>{{ currentBookmarkFolder.title }}</p>
      </div>
    </div>
  </transition>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "BookmarkBreadcrumb",
  computed: {
    ...mapGetters([
      "isParentBookmarkExists",
      "currentBookmarkFolder",
      "parentBookmarkId"
    ])
  },
  methods: {
    goToParentFolder(currentBookmarkFolder) {
      if (currentBookmarkFolder) {
        this.$store.commit("SET_TAB_TRANSITION", "fade");
        const parentBookmarkId = currentBookmarkFolder.parentBookmarkId;
        this.$store.commit("SET_PARENT_BOOKMARK_ID", parentBookmarkId);
      }
    }
  }
};
</script>

<style lang="scss">
.breadcrumb-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;

  .breadcrumb {
    background-color: $light-folder-black;
    height: 50px;
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &:hover {
      cursor: pointer;
      opacity: 0.9;
    }

    & > * {
      padding-left: 10px;
      padding-right: 10px;
    }

    .v-icon {
      flex-grow: 4;
      color: $grey-text-color;
      &:hover {
        color: $grey-text-color !important;
      }
    }

    p {
      flex-grow: 5;
      color: $grey-text-color;
      margin: initial;
    }
  }
}
</style>
