<template>
  <div class="bookmarks-wrapper">
    <bookmark-breadcrumb />
    <transition-group
      tag="div"
      :name="tabTransition"
      class="bookmarks mx-12"
      data-sortable=".bookmark"
    >
      <div
        v-for="bookmark in bookmarksBySelectedTabAndParentFolder"
        :key="bookmark.id"
        :data-id="bookmark.id"
        :data-position="bookmark.orderPosition - 1"
        class="bookmark"
        @contextmenu.prevent="$refs.bookmark_menu.open($event, bookmark)"
      >
        <bookmark-link v-if="bookmark.isLink" :bookmark="bookmark" />

        <filled-folder-bookmark
          v-else-if="bookmarkHasChild(bookmark.id)"
          :bookmark="bookmark"
        />

        <empty-folder-bookmark v-else :bookmark="bookmark" />
      </div>

      <new-bookmark
        :key="`tab-${selectedTabIndex}-${parentBookmarkId}`"
        :data-position="maxOrderPosition"
      />
    </transition-group>

    <context-menu ref="bookmark_menu">
      <template slot-scope="{ contextData }">
        <context-menu-item v-if="contextData && contextData.isLink">
          <a :href="contextData.url">Open</a>
        </context-menu-item>
        <context-menu-item v-if="contextData && contextData.isLink">
          <a :href="contextData.url" target="_blank">Open in New Tab</a>
        </context-menu-item>
        <context-menu-item v-if="contextData && contextData.isLink">
          <p>Select Custom Thumbnail...</p>
        </context-menu-item>
        <context-menu-item v-if="contextData && contextData.isLink">
          <p
            @click="
              $root.$emit('toggle-edit-bookmark-modal', contextData);
              $refs.bookmark_menu.close();
            "
          >
            Edit
          </p>
        </context-menu-item>
        <context-menu-item v-if="contextData">
          <p
            @click.prevent="
              $root.$emit(`toggleEditMode-${contextData.id}`);
              $refs.bookmark_menu.close();
            "
          >
            Rename
          </p>
        </context-menu-item>
        <context-menu-item v-if="contextData">
          <p
            @click.prevent="
              deleteBookmark(contextData.id);
              $refs.bookmark_menu.close();
            "
          >
            Delete
          </p>
        </context-menu-item>
      </template>
    </context-menu>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import Sortable from "../../plugins/sorter";
import { getNewBookmarkOrderPosition } from "../../plugins/helpers";
import ContextMenu from "../ContextMenu/ContextMenu";
import ContextMenuItem from "../ContextMenu/ContextMenuItem";
import BookmarkLink from "./LinkBookmark";
import NewBookmark from "./NewBookmark";
import EmptyFolderBookmark from "./FolderBookmark/EmptyFolderBookmark";
import FilledFolderBookmark from "./FolderBookmark/FilledFolderBookmark";
import BookmarkBreadcrumb from "./BookmarkBreadcrumb";

export default {
  name: "BookmarkList",
  components: {
    BookmarkLink,
    NewBookmark,
    EmptyFolderBookmark,
    FilledFolderBookmark,
    BookmarkBreadcrumb,
    ContextMenu,
    ContextMenuItem
  },
  data() {
    return {
      sortable: null,
      showTitle: true,
      folderSize: {
        minmax: 250,
        width: 250
      }
    };
  },
  computed: {
    ...mapGetters([
      "selectedTabIndex",
      "bookmarksBySelectedTabAndParentFolder",
      "tabTransition",
      "bookmarkHasChild",
      "parentBookmarkId",
      "bookmarkPosition"
    ]),
    tabIndex: {
      get() {
        return this.$store.state.selectedTabIndex;
      },
      set(selectedTabIndex) {
        this.$store.dispatch("changeTab", selectedTabIndex);
      }
    },
    maxOrderPosition() {
      return (
        getNewBookmarkOrderPosition(
          this.bookmarksBySelectedTabAndParentFolder
        ) - 1
      );
    }
  },
  mounted() {
    // setTimeout(this.initSorter, 500);
    // TODO : Recalculer les positions lors de l'ajout d'un nouveau bookmark
  },
  methods: {
    ...mapActions(["updateBookmark", "bulkUpdateBookmarks", "deleteBookmark"]),
    initSorter() {
      const bookmarks = document.querySelector(".bookmarks");
      const newBookmarkPanel = document.querySelector(".new-bookmark");
      this.sortable = Sortable;
      this.sortable.initDraggableElements(
        bookmarks,
        newBookmarkPanel,
        this.processNewPositions
      );
    },
    processNewPositions(newPositions) {
      const updatedBookmarks = [];
      for (const [id, newPosition] of Object.entries(newPositions)) {
        const oldPosition = this.bookmarkPosition(id);
        if (oldPosition !== newPosition) {
          const bookmark = this.bookmarksBySelectedTabAndParentFolder.find(
            item => item.id === parseInt(id, 10)
          );
          const updatedBookmark = {
            ...bookmark,
            orderPosition: newPosition
          };
          updatedBookmarks.push(updatedBookmark);
        }
      }
      this.bulkUpdateBookmarks(updatedBookmarks);
    }
  }
};
</script>

<style lang="scss">
.active {
  transform: scale(1.03);
}

.show {
  opacity: 1 !important;
  transition-duration: 1s;
}

.bookmarks-wrapper {
  .bookmarks {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: auto;
    grid-row-gap: 2em;
    grid-column-gap: 1em;
    position: relative;

    .bookmark {
      width: 250px;
      touch-action: none;
      -webkit-touch-callout: none;
      user-select: none;
      transition: transform 230ms ease-in-out;
      box-sizing: border-box;
      position: relative;

      //&.is-dragged {
      //  transition: 0s;
      //  opacity: 0.5;
      //  z-index: 9000;
      //}

      .bookmark-icon {
        opacity: 0;
        margin: 10px;
        position: absolute;
        right: 0;
        z-index: 5;

        color: $black-transparent;
        transition: opacity 0.3s, color 0.1s;
        transition-delay: 0.2s;

        &:hover {
          color: $light-grey !important;
        }

        &.add-icon {
          bottom: 45px;
        }
      }

      .bookmark-link {
        background-color: $black-transparent;
        width: 100%;
        height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.2s;
      }
    }
  }
}
</style>
