<template>
  <fragment>
    <v-icon
      class="bookmark-icon delete-icon"
      small
      :class="{ show: hover }"
      @mouseover="hover = true"
      @mouseleave="hover = false"
      @click="deleteBookmark(bookmark.id)"
      >fas fa-minus-circle</v-icon
    >
    <!--    <input ref="file" type="file" style="display: none" @change="processFile" />-->
    <!--    <v-icon-->
    <!--      class="dial-icon add-icon"-->
    <!--      small-->
    <!--      :class="{ show: hover }"-->
    <!--      @mouseover="hover = true"-->
    <!--      @mouseleave="hover = false"-->
    <!--      @click="$refs.file.click()"-->
    <!--      >fas fa-plus-circle</v-icon-->
    <!--    >-->
    <v-card
      tile
      :href="isDragged ? '#' : bookmark.url"
      :target="checkOpenNewTab"
      class="bookmark-link"
      :class="{ active: hover }"
      @mouseover="hover = true"
      @mouseleave="hover = false"
    >
      <img
        width="250"
        height="180"
        :src="bookmark.thumbnailUrl"
        :alt="bookmark.title"
      />
    </v-card>
    <bookmark-title :bookmark="bookmark" />
  </fragment>
</template>

<script>
import { Fragment } from "vue-fragment";
import { mapActions, mapGetters } from "vuex";
import ClassWatcher from "../../plugins/ClassWatcher";
import BookmarkTitle from "./BookmarkTitle";

export default {
  name: "BookmarkLink",
  components: { BookmarkTitle, Fragment },
  props: {
    bookmark: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      hover: false,
      target: false,
      isDragged: false
    };
  },
  computed: {
    ...mapGetters({ settings: "settings" }),
    checkOpenNewTab() {
      return this.settings.openInNewTab ? "_blank" : "";
    }
  },
  mounted() {
    const bookmarkNode = document.querySelector(
      `div[data-id="${this.bookmark.id}"]`
    );
    const beginDragged = () => {
      this.isDragged = true;
    };

    const endDragged = () => {
      setTimeout(() => {
        this.isDragged = false;
      }, 50);
    };

    // eslint-disable-next-line no-unused-vars
    const classWatcher = new ClassWatcher(
      bookmarkNode,
      "is-dragged",
      beginDragged,
      endDragged
    );
  },
  methods: {
    ...mapActions(["deleteBookmark"]),
    processFile(event) {
      const someData = event.target.files[0];
      console.log(someData);
    },
    goTo(url) {
      window.location.assign(url);
    }
  }
};
</script>

<style lang="scss" scoped></style>
