<template>
  <div class="new-bookmark" @click="toggleNewBookmarkMode">
    <v-card tile class="bookmark-link">
      <v-icon large :class="{ rotation: newBookmarkMode }">fas fa-plus</v-icon>
    </v-card>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "NewBookmark",
  data() {
    return {};
  },
  computed: {
    ...mapGetters(["newBookmarkMode"])
  },
  methods: {
    toggleNewBookmarkMode() {
      this.$store.commit("SET_NEW_BOOKMARK_MODE", !this.newBookmarkMode);
    }
  }
};
</script>

<style lang="scss" scoped>
.rotation {
  transform: rotate(45deg) !important;
}

.new-bookmark {
  cursor: pointer;
  width: 250px;

  .bookmark-link {
    background-color: $black-transparent;
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s;

    img {
      max-height: 85%;
      max-width: 85%;
    }
    &:hover {
      transform: scale(1.03);
    }
  }

  .v-icon {
    color: $my-orange;

    &:hover {
      color: $my-orange !important;
    }
  }
}
</style>
